#balance main {
    min-height: calc(100vh - 100px);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#balance main h4 {
    color: #878787;
    font-size: 1.4rem;
    font-weight: 400;
}

.balance-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    align-items: center;
    justify-content: start;
}

.balance-create-card,
.balance-card {
    width: 350px;
    height: 250px;
}

.balance-card {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s linear;
}

.balance-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.114);
    text-transform: capitalize;
}

.balance-card-top img {
    width: 50px;
}

.balance-card-top div {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 34px;
}

.balance-card-top p {
    color: #878787;
}

.balance-card-mid {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.balance-card-mid div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.balance-card-mid div p {
    font-size: 1.3rem;
    font-weight: 600;
}

.balance-card-mid div span {
    font-size: 0.9rem;
    color: #9F9F9F;
}

.balance-card-bot {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.balance-card-bot button:first-child {
    border: 0;
    cursor: pointer;
    color: #299D91;
    background-color: transparent;
    transition: 0.3s;
}

.balance-card-bot button:first-child:hover {
    color: #299d9198;
}

.balance-card-bot button:last-child {
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #299D91;
    border-radius: 5px;
    padding: 7px 18px;
    text-align: center;
    transition: 0.3s;
}

.balance-card-bot button:last-child:hover {
    background-color: #299d9198;
}

.balance-create-card {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.balance-create-card button {
    border: 0;
    cursor: pointer;
    transition: 0.4s;
}

.balance-create-card button:first-child {
    background-color: #299D91;
    padding: 10px 50px;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.balance-create-card button:first-child:hover {
    background-color: #299d9198;
}

.balance-create-card button:last-child {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
}

.balance-create-card button:last-child:hover {
    color: #299d9198;
}

#add-card {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 320px;
    border-radius: 5px;
    display: none;
}

#add-card form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#add-card form div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

#add-card form div input {
    border: 0;
    outline: 0;
    background-color: #e2e3e4;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.1rem;
    transition: 0.3s;
}

#add-card button {
    padding: 7px 30px;
    border: 0;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #299D91;
    color: #fff;
}

/*#balance{
    display: none;
}*/

#details main {
    min-height: calc(100vh - 100px);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#details main h4 {
    color: #878787;
    font-size: 1.4rem;
    font-weight: 400;
}

.dets-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.dets-div section {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.acc-details-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.acc-details-top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: start;
    gap: 20px 5px;
}

.acc-details-top div {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    text-transform: capitalize;
}

.acc-details-top div input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    text-transform: capitalize;
}

.acc-details-top div span {
    color: #9F9F9F;
    font-size: 16px;
}

.acc-details-top div p {
    color: #525256;
    font-size: 18px;
}

.acc-details-container .acc-details-bot {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.acc-details-container div:last-child button:first-child {
    background-color: #299D91;
    color: #fff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 10px 25px;
    font-weight: 600;
    transition: 0.3s;
}

.acc-details-container div:last-child button:first-child:hover {
    background-color: #299d91b2;
}

.acc-details-container div:last-child button:last-child {
    background-color: transparent;
    color: #666666;
    border: 0;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 4px;
}

.acc-details-container div:last-child button:last-child:hover {
    background-color: #66666662;
}

.transaction-history {
    width: 100%;
    max-height: 380px;
    transition: 0.3s ease;
}

.transacs-cont {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 10px;
}

.table {
    width: 100%;
    max-height: 240px;
    overflow-y: hidden;
}

.table.expanded,
.transaction-history.expanded {
    max-height: 1000px;
}

.table table {
    width: 100%;
    height: 100%;
    border-spacing: 0px 25px;
    border-collapse: collapse;
}

.transacs-cont table th,
.transacs-cont table td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    color: #525256;
    text-transform: capitalize;
}

.transacs-cont table th:first-child,
.transacs-cont table td:first-child {
    text-align: left;
}

.transacs-cont table tr th {
    padding: 10px 15px;
    color: #000;
}

.transaction-history button {
    border: 0;
    background-color: #299D91;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 35px;
    color: #fff;
    font-weight: 600;
}

.transacs-cont table td,
.transacs-cont table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}


@media (max-width:505px) {
    .acc-details-container div:first-child {
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .acc-details-container div:first-child div {
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .acc-details-container div:last-child {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
@media (max-width:800px) {
    .balance-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
