@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Sancreek&family=Sansita+Swashed:wght@300..900&display=swap');

@theme {
	--font-lexend-zetta: "Lexend Zetta", sans-serif;
	--font-sansita-swashed: "Sansita Swashed", cursive;
	--font-Sancreek: "Sancreek", serif;
	--breakpoint-md: 890px;
}

html {
	scroll-behavior: smooth;
}

@keyframes modalAppear {
	0%{
		opacity: 0;
		transform: scale(0.9);
	}
	80%{
		transform: scale(1);
	}
	100%{
		opacity: 100;
	}
}
#modal{
	animation: modalAppear 0.3s;
}