.img_container{
    width: 400px;
    height: 500px;
    margin-left: 100px;
    border: 2px solid green;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}
.img_container:hover{
    width: 450px;
    height: 550px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.logo{
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: ease-in-out 0.07s;
}
.logo:hover{
    border: 2px solid green;
}
#all_container{
    width: 100%;
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}
.text_container{
    width: 300px;
    height: 500px;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: green;
    border:2px solid green;
    transition: ease-in-out 0.2s;
    margin: auto;
}
.text_container:hover{
    width: 350px;
    height: 550px;
}
.navi{
    border-radius: 15px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    transition: ease-in-out 0.3s;
    color: white;
}
.navi:hover{
    background-color: rgb(2, 80, 7);
}
nav{
    display: flex;
    margin-left: 1000px;
    margin-top: -100px;
}
.logo{
    width: 11%; 
    height: 15%;
    margin-left: 20px;
    border-radius: 20px;
}