body, html{
    margin:0;
    padding:0;
}
.navi{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    display: flex;
    color: black;
    /* border: 1px solid black; */
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    transition: ease-in-out 0.3s;
}
.navi:hover{
    width: 200px;
    background-color: rgb(167, 166, 166);
}
nav{
    display: flex;
    margin-left: 750px;
    margin-top: -40px;
}
.logo{
    width: 11%; 
    height: 11%;
    margin-left: 20px;
}
#award_container {
    background-image: url("../Photos/nature photo.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: white;
}
#awards_header {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 58px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-left: -500px;
}
#award_text {
    width: 90%;
    max-width: 800px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-top: 20px;
    color: #f5f5f5;
}
.body_text{
    margin: 30px; 
    width: 40%; 
    margin-left: 700px; 
    margin-top: -100px;
}
.body_text:hover{
    /* background-color: #f2e7dc; */
    transform: scale(1.09);
    transition: 0.5s ease;
}
.main_photo{
    width: 100%; 
    height: 130%; 
    margin-top: 30px;
}


#history_container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #faf5ef;
    border-left: 5px solid #b5651d; /* Earthy brown color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    line-height: 1.8;
    background-image: url(../Photos/nice\ big\ field.png);
}

#history {
    font-family: 'Georgia', serif;
    font-size: 1.1em;
    color: #ffffff;
    text-align: justify;
}
/* pirveli xazis stili */
#history::first-line {
    font-weight: bold;
    font-size: 1.2em;
    color: #8b4513;
}
/* line break */
#history_container p {
    margin: 20px 0;
}
/* hoverze gadiddes */
#history_container:hover {
    background-color: #f2e7dc;
    transform: scale(1.05);
    transition: 0.3s ease;
}
