@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Sixtyfour&family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
hr{
    border: 2px solid #4a4a4a;
    border-radius: 5px;
}
body{
    background: linear-gradient(135deg, #1c1f20, #181a1b);
    font-family: 'Roboto','Sans-Serif';
    display: flex;
    flex-direction: column;    
    height: 160vh;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background: rgb(28, 31, 32);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 3;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-size: 1.1rem;
    color: #ffffff;
    font-family: "Ysabeau SC", serif;
}
nav ul li{
    transition: 0.4s;
    text-shadow: 0px 0px 0px gray;
}
nav ul li:hover{
    color: #fff;
    cursor: pointer;
    text-shadow: 0px 0px 20px #fff;
    transform: scale(1.1);
}
.navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    gap: 50px;
}
.title{
    font-family: "Teko", serif;
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    transition: 0.4s;
    text-shadow: 0px 0px 0px beige;
}
.title:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.05);
}
.title-container{
    border: 1px solid white;
    background-color: rgba(152, 150, 150, 0.5);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    bottom: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}
.title-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(255, 0, 150, 0.5), rgba(0, 204, 255, 0.5));
    z-index: -1;
    filter: blur(20px);
}
.title-container:hover {
    background-color: rgba(152, 150, 150, 0.7);
}
.kkk{
    color: white;
    text-decoration: none;
}

main{
    font-family: "Teko", serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
    justify-content: center;
}

.big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(201, 201, 181);
    border-radius: 10px;
    width: 66%;
    height: 350px;
    box-shadow: 0px 0px 10px rgb(201, 201, 181);
    padding: 10px;
}
.first-cont{
    display: flex;
    justify-content: space-between;
}
.headers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}
.big img{
    width: 65%;
    height: 240px;
    border-radius: 10px; 
}
.photo{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.history{
    text-align: right;
}
.tree-image{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 33%;
    height: 350px;
    background-color: rgb(201, 201, 181);
    box-shadow: 0px 0px 10px rgb(201, 201, 181);
    display: flex;
    flex-direction: column;
}
.small .feedback{
    font-size: 1.9rem;
}
.small img{
    width: 55%;
}