@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    height: 400vh;
}
.magic-burger{
    display: none;
}
header{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head-cont{
    display: flex;
    width: 570px;
    justify-content: space-between;
    align-items: center;
}
.head-cont nav ul{
    list-style-type:none;
    display: flex;
    gap: 25px;
    font-weight: 600;
}
.hero{
    padding:50px 30px;
    background-color: rgba(240, 239, 235, 1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.socials{
    display: flex;
    gap: 25px;
}
.cont{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.cont h1{
    font-size: 60px;
    width: 90%;
}
.cont p{
    width: 90%;
    font-size: 25px;
}
.cont button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 17px;
}

.best-sellers{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    align-items: center;
}
.sellers-text{
    display: flex;
    width: 650px;
    flex-direction: column;
    gap: 60px;
}
.sellers-text h1{
    font-size: 36px;
}
.sellers-text p{
    font-size: 20px;
    line-height: 24px;
}
.sellers-grid h1{
    font-size: 36px;
}
.sellers-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.card-grid{
    width: 80%;
    gap: 70px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,314px);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card h1{
    font-size: 17px;
    width: 150px;
}
.card p{
    font-size: 17px;
}
.card b{
    text-decoration: underline;
}
.card-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (max-width:650px) {
    .sellers-text{
        width: 360px;
    }

}
@media (max-width:840px) {
    .card-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card{
        display: flex;
        flex-direction: column-reverse;
    }
    nav{
        display: none;
    }
    .magic-burger{
        font-size: 1.4rem;
        display: block;
    }
    .head-cont{
        width: 150px;
        justify-content: space-between;
    }
    header{
        justify-content: space-between;
    }
    .hero{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cont{
        width: 100%;
    }
    .cont h1{
        font-size: 50px;
    }
    .cont p{
        font-size: 20px;
    }
    .hero img{
        margin-top: 50px;
    }
}