@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    width: 17rem;
}
img{
    border-radius: 10px;
    width: 15rem;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
h3{
    text-align: center;
    color: hsl(218, 44%, 22%);
}
p{
    opacity: 50%;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}