.img_container{
    width: 400px;
    height:500px;
    border: 1px solid black;
    margin-left: 100px;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#all_container{
    width: 100%;
    display: flex;
    flex-direction:row;
    margin-top: 50px;
}
.text_container{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center;
}
#but{
    width: 100px;   
    border-radius: 10px;
    height: 50px;
    margin: 30px;
    font-size: 16px;
    transition: ease-in-out 0.3s;
}
#but:hover{
    width: 120px;
    height: 60px;
}
.navi{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    display: flex;
    color: black;
    /* border: 1px solid black; */
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    transition: ease-in-out 0.3s;
}
.navi:hover{
    width: 200px;
    background-color: rgb(167, 166, 166);
}
nav{
    display: flex;
    margin-left: 750px;
    margin-top: -40px;
}
.logo{
    width: 11%; 
    height: 11%;
    margin-left: 20px;
}
