body{
    height: 300vh;
}
main{
    width: 100%;
    position: relative;
    height: 33%;
    display: flex;
    justify-content: space-between;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10px;
    background-color: lightblue;
    padding: 20px;
    height: 20%;
}